:root{
   --color-bg: white;
   --color-text: black;
}

.dark-mode{
   --color-bg: rgb(31, 31, 31);
   --color-text: white;
}

body {
   background-color: var(--color-bg);
   color: var(--color-text);
   transition: background-color 0.3s ease;
}

button {
  color: var(--color-text);
}