.navbar {
    display: flex;
    max-width: 1500px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}