#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
  color: black;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}